<nav class=" navbar navbar-expand-lg py-4 fixed-top ">
    <div class="container">
      <a class="navbar-brand"  routerLink="home">Start Framework</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a routerLinkActive="active rounded-3" class=" nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2 mr-3"  aria-current="page" routerLink="about"  >about</a>
          </li>
          <li class="nav-item">
            <a  routerLinkActive="active rounded-3" class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2 mr-3"  routerLink="port">portfolio</a>
          </li>
          <li class="nav-item">
            <a  routerLinkActive="active rounded-3" class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2 mr-3"   routerLink="contact">contact</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>
  

