
<div  class="home d-flex justify-content-center align-items-center text-white">
    <div class="text-white text-center">
        <img src="./assets/images/avataaars.svg" alt="" class="mb-3 pt-5">
        <h2 class="text-uppercase mb-3 fs-1 fw-bolder">start Framework</h2>
         <div class="star d-flex align-items-center justify-content-center mb-3">
            <div class="line bg-white me-3"></div>
            <i class="fa-solid fa-star"></i>
            <div class="line bg-white ms-3"></div>

         </div>
         <h6 class="mb-5">Graphic Artist - Web Designer - Illustrator</h6>
    </div>





</div>